page-header {
     .frontFixedLabel {
        min-width: 67% !important;
        max-width: 67% !important;
        // color:rgb(255, 255, 255);
        font-weight: 500;
    }

    .aboveFixedLabel{
        color:rgb(131, 131, 131);
        font-weight: 800;
        font-size:12px
    }

    .underFixedLabel{
        color:rgb(255, 255, 255);
        font-weight: 800;
    }
}
