

<ion-menu side="right" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <p style="text-align:center">
          <ion-icon name="contact"></ion-icon>
          <span style="padding-left: 1.5%;">{{username}}</span>
        </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--login-->
    <ion-list *ngIf="username!=''">
      <button class="designItem" menuClose ion-item *ngFor="let p of pagesForLogin" (click)="openPage(p)">
        <ion-label class="iconFix"><ion-icon name="{{p.icon}}"></ion-icon></ion-label>
        <ion-label> {{p.title}} </ion-label>
      </button>
    </ion-list>

    <!--not login-->
    <ion-list *ngIf="username==''">
      <button class="designItem" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-label class="iconFix"><ion-icon name="{{p.icon}}"></ion-icon></ion-label>
        <ion-label> {{p.title}} </ion-label>
      </button>
    </ion-list>


    
  </ion-content>


  <!--login-->
  <ion-footer  *ngIf="username!=''">
    <button ion-button menuClose block color="danger" (click)="logout()">Logout</button>
  </ion-footer>

  <!--not login-->
  <ion-footer *ngIf="username==''">
    <button ion-button menuClose block color="bgyellow" (click)="login()">Login</button>
  </ion-footer>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>