<!--
  Generated template for the EditTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end (click)="goBack()">
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Edit Transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <form class="list" [formGroup]="editTransactionForm" (ngSubmit)="editTransaction()">
    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">
          Trading Pair
        </ion-label>
        <ion-label class="fixedRight">
          {{ coin.secondary_currency }}/{{coin.primary_currency}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Status
          <span style="font-size: 10px;color: #e13838;"></span>
        </ion-label>
        <ion-select [(ngModel)]="transaction.status" (ionChange)="chooseStatus()" interface="popover" formControlName="status">
          <ion-option color="bgyellow" value="Buy">BUY</ion-option>
          <ion-option value="Sell">SELL</ion-option>
          <ion-option value="Watch">WATCH ONLY</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">Current Price</ion-label>
        <ion-label class="fixedRight"><img class="imgSize" src="https://d2v7vc3vnopnyy.cloudfront.net/img/coins/{{coin.secondary_currency}}.png" />&nbsp;&nbsp;{{coin.secondary_currency}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Trade Price {{errorTradePrice}}</ion-label>
        <ion-input *ngIf="status!='Watch'" class="fixedRight" [(ngModel)]="tradePrice" item-right type="number" value="{{transaction.tradePrice}}"
          placeholder="{{transaction.tradePrice}}" (keyup)="calPrice($event)" formControlName="tradePrice"></ion-input>
        <ion-input *ngIf="status=='Watch'" class="fixedRight" disabled [(ngModel)]="tradePrice" item-right type="number" value="{{transaction.tradePrice}}"
          placeholder="{{transaction.tradePrice}}" formControlName="tradePrice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Enter Quantity</ion-label>
        <ion-input *ngIf="status!='Watch'" class="fixedRight" [(ngModel)]="quantity" item-right min="0" type="number" (keyup)="calPrice($event)"
          placeholder="0" formControlName="quantity"></ion-input>
        <ion-input *ngIf="status=='Watch'" disabled class="fixedRight" [(ngModel)]="quantity" item-right min="0" type="number" placeholder="0"
          formControlName="quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="fixedLeft">Total Value</ion-label>
        <ion-label class="fixedRight">{{total}}</ion-label>
        <ion-label class="fixedRight">{{total}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">Trade Date</ion-label>
        <ion-datetime class="datetimeColor" displayFormat="MMM/DD/YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="transaction.date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Note</ion-label>
        <ion-input class="fixedRight" [(ngModel)]="note" formControlName="note"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <button type="submit" full ion-button color="bgyellow">Save</button>
    </ion-list>
  </form> -->
  <form class="list" [formGroup]="editTransactionForm" (ngSubmit)="editTransation()">
    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">
          Trading Pair
        </ion-label>
        <ion-label class="fixedRight">
          {{ crypto.coin.secondary_currency }}/{{crypto.coin.primary_currency}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Status
          <span style="font-size: 10px;color: #e13838;">{{errorStatus}}</span>
        </ion-label>
        <ion-select [(ngModel)]="transaction.status" (ionChange)="chooseStatus()" interface="popover" formControlName="status">
          <ion-option color="bgyellow" value="Buy">BUY</ion-option>
          <ion-option value="Sell">SELL</ion-option>
          <ion-option value="Watch">WATCH ONLY</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">Current Price</ion-label>
        <ion-label class="fixedRight"><img class="imgSize" src="https://d2v7vc3vnopnyy.cloudfront.net/img/coins/{{crypto.coin.secondary_currency}}.png"
          />&nbsp;&nbsp;{{crypto.coin.secondary_currency }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Trade Price {{errorTradePrice}}</ion-label>
        <ion-input *ngIf="transaction.status!='Watch'" class="fixedRight" [(ngModel)]="tradePrice" item-right type="number" value="{{transaction.tradePrice}}"
          placeholder="{{transaction.tradePrice}}" (keyup)="calPrice($event)" formControlName="tradePrice"></ion-input>
        <ion-input *ngIf="transaction.status=='Watch'" class="fixedRight" disabled [(ngModel)]="tradePrice" item-right type="number" value="{{transaction.tradePrice}}"
          placeholder="{{transaction.tradePrice}}" formControlName="tradePrice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Enter Quantity</ion-label>
        <ion-input *ngIf="transaction.status!='Watch'" class="fixedRight" [(ngModel)]="quantity" item-right min="0" type="number" (keyup)="calPrice($event)"
          placeholder="0" formControlName="quantity"></ion-input>
        <ion-input *ngIf="transaction.status=='Watch'" disabled class="fixedRight" [(ngModel)]="quantity" item-right min="0" type="number" placeholder="0"
          formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Total Value</ion-label>
        <ion-label class="fixedRight">{{total}}</ion-label>
        <ion-label class="fixedRight">{{total}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label class="fixedLeft">Trade Date</ion-label>
        <ion-datetime class="datetimeColor" displayFormat="MMM/DD/YYYY" pickerFormat="MMMM DD YYYY" formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="fixedLeft">Note</ion-label>
        <ion-input class="fixedRight" [(ngModel)]="note" formControlName="note"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <button type="submit" full ion-button color="bgyellow">Save</button>
    </ion-list>
  </form>

  <ion-list>
    <button type="submit" full ion-button color="danger" (click)="removeTransaction()">Remove Transaction</button>
  </ion-list>
</ion-content>