page-setting {
    


    .label[stacked] {
        font-size: 13px;
        font-weight: 500;
    }
    .list .item-block .item-inner {
        border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    }

    .text-input-md-highlight-color,.item-input-has-focus .label[stacked], .input-has-focus .label[stacked], .item-input-has-focus .label[floating], .input-has-focus .label[floating]{
        color:#F0B90B;
    }

    
    .list-md .item-input:last-child {
       border-bottom: 0px solid #dedede; 
    }

    .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
        border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    }
    .list-md > .item-block:first-child .item-inner, .list-md > .item-wrapper:first-child ion-label, .list-md > .item-wrapper:first-child .item-inner {
        border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    }
    p{
        text-align: center;
        color:#F0B90B;
        font-size: 12px;
        font-weight: 500;
    }
    .error{
        font-size: 10px;
        color: rgba(255, 0, 0, 0.59);
        padding-left: 2%;
    }
}
