page-setting {
    .colorBg{

        background-color: #151A1D;
        color: #B1B1B1;
        width: 120%;
        margin-left: -9.2%;
        margin-top: -3%;
        

        
    }
    .spacebar{
        
        background-color: #151A1D;
        color: #A19D9D;
        padding-left: 5%;
    }
    .bg-stype{
        background-color: #151A1D;
       
    }
    .bgdark{
        background-color: #151A1D;
    }
    .toggleright{
       margin-left:10%;
    }
    .spacebarFiger{
        
        background-color: #151A1D;
        color: #A19D9D;
        padding-left: 1%;
    }
    .left{
        margin-left: -4%;
        margin-top: -5%;
        width: 110%;
        
    }

}
