page-details {
    .content{
        color: #FFFFFF;
        background-color: #151A1D;
        // background-color: #05191d;
        font-size:16px;
    }
    .BackgroundColorcoins{
        background-color: #262727;
    }
    
    td{
        padding:1%;
        padding-right:10%;
    }
    .bar-button, .bar-button-default.bar-button, .bar-button-clear {
        color: #FFB405;
        font-size: 13px;
    }
    .imgSize{       
        width:10%;
        height:10%;
    }
    .label {
        margin: 0;
    }
   
    .fixedRight{
        // min-width: 52% !important;
        // max-width: 52% !important;
        text-align: right;
        padding-right:-50px;
    }

    .fixedRightEnd{
        min-width: 40% !important;
        max-width: 40% !important;
        text-align: right;
    }

    .fixedRight > p{
        color:#FFF;
    }

   .detailTopic{
        color:rgb(131, 131, 131);
        font-size: 13px
    }
    .detailContent{
        color:#FFF;
        font-weight: 900
    }
    .topic{
        font-size: 22px;
        font-weight: 900;
        color:#FFF
    }
    .priceMinusSumary{
        background: #D93434;
        padding: 8px;
        font-size: 15px;
        font-weight: 800;
        border-radius: 4px;
        color: #FFF;
    }
    .pricePlusSumary{
        background: #7FB645;
        padding: 8px;
        font-size: 15px;
         border-radius: 4px;
        font-weight: 800;
        color: #FFF;
    }
    
    .sellType{
        color:#D93434;
        margin-top: 8px;
        margin-bottom: 3px;
    }

    .buyType{
        color: #6BCB47;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    
    .fixedfirst{
        min-width: 33% !important;
        max-width: 33% !important;
        text-align: left;
    }
    .fixedMiddle{
        min-width: 33.5% !important;
        max-width: 33.5% !important;
        text-align: left;
    }
    .fixedLast{
        min-width: 33.5% !important;
        max-width: 33.5% !important;
        text-align: right;
    }
    .toppicSummary{
        margin-bottom: -3px;
        margin-top: 0px;
    }
    .detailSummary{
        margin-top: 8px;
        margin-bottom: 3px;
    }
    .dateSummary{

    }
   
    // .fixedRight{
    //     min-width: 50% !important;
    //     max-width: 50% !important;
    //     text-align: right;
        
    // }
    .fixedLeft{
        // min-width: 47.5% !important;
        // max-width: 47.5% !important;
        text-align: left;
    }

    .bgColor{
        background-color: #151A1D;
    }
    .imgSize{
        width:-10%x;
        height:-10%;
    }
    .top-left{
        margin-top: -5%;
        margin-left: -4.7%;
        margin-right: -4.7%;
    }
    .letfs{
        float:right; 
    
    }
    .bottons{
        margin-top:3%;
    }
    .fontsize{
        font-size:13px;
        color:rgb(131, 131, 131);
    }
    .tableColor{
        on-item:nth-child(even) {background: #CCC}
        on-item:nth-child(odd) {background: #FFF}
    }

    .item {
        padding-left: 10px;
        padding-right: 0px;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: rgb(201, 201, 201);
        background-color: #151A1D;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .item.item-block .item-inner {
        padding-right: 12px;
        padding-left: 2px;
        border-bottom: 0px solid rgba(222, 222, 222, 0.09);
    }
    
    // ion-item:nth-child(2n+2) {
    //     // background-color: rgba(255, 0, 0, 0.26) !important;
        
    //     background-color: rgba(38, 44, 51, 0.26) !important;
    // }


    // .list ion-item-options:nth-child(2n+2) {
    //     // background-color: rgba(255, 0, 0, 0.26) !important;
        
    //     background-color: rgba(38, 44, 51, 0.26) !important;
    // }

    .list ion-item-sliding:nth-child(2n+2) {
        background-color: rgba(38, 44, 51, 0.26) !important;
    }

    //  .list ion-item:nth-child(2n+2) {
    //     // background-color: rgba(255, 0, 0, 0.26) !important;
        

    //     background-color: rgba(38, 44, 51, 0.26) !important;
    // }


    .button-inner {
        width: 122%;
        height: 100%;
    }

    .list ion-item-sliding {
        background-color: #151A1D;
      
    }

    .list ion-item-options {
        border-bottom: 0px solid #dedede;
    }

    // .scroll-content {
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     position: absolute;
    //     z-index: 1;
    //     display: block;
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     -webkit-overflow-scrolling: touch;
    //     will-change: scroll-position;
    //     contain: size style layout;
    //     margin-right: -4%;
    // }
   

    .list {
        // margin-left: -5%;
        // margin-top: -4%;
        min-width: 100% !important;
    max-width: 100% !important;
    text-align: left;
    }


    ion-list {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
        width: 110%;
    }
    .segment .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 3.5rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        font-size: 11px;
        font-weight: 900;
        line-height: 3.5rem;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #262D33;
        opacity: 1;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        padding: 0 6px;
    }
    .segment .segment-button.activated, .segment .segment-button.segment-activated {
        background-color: #151A1D;
        border-top: 2px solid #F0B90A;
        border-bottom: 0px solid #151A1D;  
    }

    ion-icon {
        // display: inline-block;
        font-size: 21px;
    }

    .item ion-avatar[item-left], .item ion-thumbnail[item-left], .item ion-avatar[item-start], .item ion-thumbnail[item-start] {
        margin: 8px 16px 8px 8px;
    }

    .list-md {
        margin: 5px 0 16px;
    }

    .grid {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 15px;
    }

    
}