<!--
  Generated template for the CoinsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left (click)="goToFolio()">
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>CoinsDetail </ion-title>

    <ion-buttons right (click)="screenShot()">
      <button ion-button icon-only>
        <ion-icon  name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment [(ngModel)]="segment">

    <ion-segment-button value="details">
      Details
    </ion-segment-button>
    <ion-segment-button value="holdings">
      Holdings
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <span *ngIf="segment=='details'">
  <ion-list>
    <ion-item class="BackgroundColorcoins">
      <ion-avatar item-start>
        <img class="imgSize" src="https://d2v7vc3vnopnyy.cloudfront.net/img/coins/{{ crypto.cryptoCurrency.secondary_currency }}.png" />
      </ion-avatar>
      <ion-label class="fixedLeft">
        {{ crypto.myCoins.coin.secondary_currency }}/{{crypto.myCoins.coin.primary_currency}} <br>
        <span class="fontsize bottons">{{crypto.myCoins.coin.nameCrypto}}</span>
  </ion-label>
  <ion-label class="fixedRight">

    <span [ngClass]="{rateCurrency:crypto.cryptoCurrency.change<0}">
                            {{crypto.cryptoCurrency.last_price}} {{crypto.cryptoCurrency.primary_currency}}
                                    <br>
                                    
                        <span *ngIf="crypto.cryptoCurrency.change<0" [ngClass]="{ratedownCurrency:crypto.cryptoCurrency.change<0}">
                             Volum  {{crypto.cryptoCurrency.change}}%
                              <ion-icon name="md-arrow-dropdown"></ion-icon>
                        </span>

    <span *ngIf="crypto.cryptoCurrency.change>=0" [ngClass]="{rateupCurrency:crypto.cryptoCurrency.change>=0}">
                            <span> Volume  +{{crypto.cryptoCurrency.change}} </span>
    <ion-icon name="md-arrow-dropup"></ion-icon>
    </span>
    </span>

  </ion-label>

  </ion-item>

  </ion-list>
  <div id="container" style="display: block;"></div>
  <ion-list style="margin-left: 8%;margin-top: 0%;">
    <ion-item>
      <ion-label>
        <p style="font-size:13px;color:#F0B90B;">Highbid</p>
        <p>{{crypto.cryptoCurrency.orderbook.bids.highbid}}</p>
      </ion-label>
      <ion-label>
        <p style="font-size:10px;color:#F0B90B;">Total</p>
        <p>{{crypto.cryptoCurrency.orderbook.bids.total}}</p>
      </ion-label>
      <ion-label>
        <p style="font-size:12px;color:#F0B90B;">Volume</p>
        <p>{{volumeBid}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p style="font-size:12px;color:#F0B90B;">Highbid</p>
        <p>{{hightAsk}}</p>
      </ion-label>
      <ion-label>
        <p style="font-size:5px;color:#F0B90B;">Total</p>
        <p>{{crypto.cryptoCurrency.orderbook.asks.total}}</p>
      </ion-label>
      <ion-label>
        <p style="font-size:12px;color:#F0B90B;">Volume</p>
        <p>{{volumeAsk}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  </span>

  <span *ngIf="segment=='holdings'">
    <ion-list style="background-color: #111314;padding-top: 10px;margin-top: 0px;margin-bottom: 0px;" *ngIf="segment=='holdings'">
      <ion-item style="background-color: #111314">
        <ion-label class="fixedLeft topic">{{ crypto.myCoins.coin.secondary_currency }}/{{crypto.myCoins.coin.primary_currency}} Summary</ion-label>
        <ion-label class="fixedRightEnd">
          <p style="color:rgb(131, 131, 131);font-size: 13px">Profit / Lost*</p>
          <button *ngIf="result<0" class="priceMinusSumary">{{result}} THB</button>
          <button *ngIf="result>=0" class="pricePlusSumary">{{result}} THB</button>
        </ion-label>
      </ion-item>
      <ion-item style="padding-top: 4px;padding-bottom: 8px;background-color: #111314">
        <ion-label class="fixedfirst">
          <p class="detailTopic">Holdings</p>
          <p class="detailContent">{{ crypto.myCoins.totalQuantity}}</p>
        </ion-label>
        <ion-label class="fixedMiddle">
          <p class="detailTopic">Market Value</p>
          <p class="detailContent">{{marketValue}} THB</p>
        </ion-label>
        <ion-label class="fixedLast" >
          <p class="detailTopic">Net Cost*</p>
          <p class="detailContent">{{crypto.myCoins.totalPrice}} THB</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-grid style="border-bottom:0.5px solid rgba(255, 255, 255, 0.07)" *ngFor="let transaction of transactionList" (click)="goTOEditTransactionPage(transaction)">
        <ion-row>
          <ion-col class="fixedfirst">
            <p class="toppicSummary">{{transaction.status}}</p>
            <p [ngClass]="{buyType:transaction.status=='Buy'}" *ngIf="transaction.status == 'Buy'">{{transaction.quantity}}</p>
            <p [ngClass]="{sellType:transaction.status=='Sell'}"  *ngIf="transaction.status == 'Sell'">{{transaction.quantity}}</p>
          </ion-col>
          <ion-col class="fixedMiddle">
              <p class="toppicSummary">Price</p>
              <p class="detailSummary">{{transaction.tradePrice}} THB</p>
          </ion-col>
          <ion-col class="fixedLast">
            <p class="toppicSummary" *ngIf="transaction.status == 'Buy'">Cost</p>
            <p class="toppicSummary" *ngIf="transaction.status == 'Sell'">Proceeds</p>
            <p class="detailSummary">{{transaction.total}} THB</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="dateSummary">
            {{transaction.date}}
          </ion-col>
        </ion-row> 
    </ion-grid>
  <br>
  <ion-icon style="text-align:center;font-size:29px;color:#bfbfbf;padding-left:48%;" name="add-circle" (click)="goTOAddTransationPage()"></ion-icon>
 



  </span>
</ion-content>